<div class="container header-container mt-3">
  <div class="profile-banner">
    <% if @profile.banner_picture.attached? %>
      <%= cl_image_tag event.pictures[0].key %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1465189684280-6a8fa9b19a7a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"/> 
    <% end %>
  </div>
  <% if @profile.profile_picture.attached? %>
      <%= cl_image_tag @profile.profile_picture.key, class:"card-trip-user avatar-profile" %>
    <% elsif @profile.profile_url %>
      <%= image_tag "#{@profile.profile_url}", class:"card-trip-user avatar-profile" %>
    <% else %>
      <%= image_tag "https://st3.depositphotos.com/6672868/13701/v/380/depositphotos_137014128-stock-illustration-user-profile-icon.jpg", class:"card-trip-user avatar-profile" %>
    <% end %>
  
  <div class="profile-info">
    <div class="left-info">
      <h1><%= @profile.full_name %></h1>
      <p><%= @profile.phone_number %></p>
      <p><%= @profile.user_description %></p>
    </div> 
    <div class="profile-stats">
      <p>I´m a meetupper since: <strong><%= @profile.created_at.strftime(" %A, %d %b %Y") %></strong></p>
      <p>I have created <strong><%= @profile.events.count %></strong> events!</p>
      <p>I have participated of <strong><%= @profile.bookings.count %></strong> events.</p> 
    </div>  
  </div>
</div>

<div class="container profile-body-container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Attendance</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Created events</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <% @profile.bookings.each do |booking| %>
        <div class="card-product">
          <% if booking.event.pictures.attached? %>
            <%= cl_image_tag booking.event.pictures[0].key %>
          <% else %>
            <img src=<%= booking.event.category.picture  %>/> 
          <% end %>
          <div class="card-product-infos">
            <h2><%= booking.event.title %></h2>
            <p><%= booking.event.description %></p>
            <div class="d-flex justify-content-between align-items-center">
              <p class="mb-0"><i class="far fa-calendar-check"></i> <%= booking.event.date.strftime("%A, %d %b %Y") %></p>
              <%= link_to "See details", event_path(booking.event), class:"btn btn-flat" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <% @profile.events.each do |event| %>
        <div class="card-product">
          <% if event.pictures.attached? %>
            <%= cl_image_tag event.pictures[0].key %>
          <% else %>
            <img src=<%= event.category.picture  %>/> 
          <% end %>
          <div class="card-product-infos">
            <h2><%= event.title %></h2>
            <p><%= event.description %></p>
            <div class="d-flex justify-content-between align-items-center">
              <p class="mb-0"><i class="far fa-calendar-check"></i> <%= event.date.strftime("%A, %d %b %Y") %></p>
              <%= link_to "See details", event_path(event), class:"btn btn-flat" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
