<div class="container">
  <h1>Bookings</h1>
  <% @bookings.each do |booking| %>
    <div class="booking-card">
      <div class="card-header">
        <%= link_to event_path(booking.event) do  %>
          <%= cl_image_tag booking.event.pictures.key %>
        <% end %>
      </div>
      <div class="card-body">
        <span class="tag mb-2"><%= booking.event.category.name %></span>
        <h4><%= booking.event.title %></h4>
          <p><%= booking.event.description %></p>
          <%= link_to "Destroy this booking", booking_path(booking), method: :delete, class:"btn btn-je", data: { confirm: "Are you sure?"} %>
      </div>
    </div>
  <% end %>
</div>

