
<div class="container">
	<%= simple_form_for @event do |f| %>
  <%= f.input :title %>
  <%= f.select :category_id, options_for_select(Category.all.map { |c| [ c.name, c.id ] }) %>
  <%= f.input :date %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.input :pictures, as: :file, input_html: { multiple: true } %>
  <%= f.submit %>
 <% end %>
</div>
