<div class="container search-bar-div-i">
  <%= form_tag events_path, method: :get, class:"search-bar-i" do %>
    <%= text_field_tag :search, params[:search], class: "search-form-i", placeholder: "Search an event"%>
    <div class="divider-i"></div>
    <%= text_field_tag :address, params[:address], class: "location-form-i", id:"event_address", placeholder: "Location"%>
    <%= date_field_tag :date, params[:date], class: "date-form-i datepicker", as: :datetime, placeholder:"Date"%>
    <%= submit_tag "Search", class: "btn btn-ghost btn-i" %>
  <% end %>
</div>
<div class="container mt-3 index-body">
  <div class="index-container">
  <% @events.each do |event| %>
    <%= link_to event_path(event) do %>
      <div class="card-trip">
      <% if event.pictures.attached? %>
        <%= cl_image_tag event.pictures[0].key %>
      <% else %>
        <img src=<%=event.category.picture  %>/> 
      <% end %>
        <div class="card-trip-infos">
          <div>
            <h2 style="width: 165px;  min-height: 48px;"><%= event.title %></h2>
            <p><%= event.category.name %></p>
          </div>
          <% if event.user.profile_picture.attached? %>
            <%= cl_image_tag event.user.profile_picture.key, class:"card-trip-user avatar-large" %>
          <% elsif event.user.profile_url %>
            <%= image_tag "#{event.user.profile_url}", class:"card-trip-user avatar-large" %>
          <% else %>
            <%= image_tag "https://st3.depositphotos.com/6672868/13701/v/380/depositphotos_137014128-stock-illustration-user-profile-icon.jpg", class:"card-trip-user avatar-large" %>
          <% end %>
            <p class="card-trip-pricing" style="width: 70px; font-size: 15px;"><i class="far fa-calendar-check"></i> <%= event.date.strftime("%-d/%-m/%y") %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
    <div id="map"
      style="margin-top: 17px; height: 80vh; width: 100%; border-radius: 8px; position: sticky; top: 0px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
