<div class="container mt-3">
  <h1>All events</h1>
  <div class="card-index">
  <% @events.each do |event| %>
    <%= link_to event_path(event) do %>
      <div class="card-trip">
      <% if event.pictures.attached? %>
        <%= cl_image_tag event.pictures[0].key %>
      <% else %>
        <img src=<%=event.category.picture  %>  /> 
      <% end %>
        <div class="card-trip-infos">
          <div>
            <h2 style="width: 165px;"><%= event.title %></h2>
            <p><%= event.category.name %></p>
          </div>
          <% if event.user.profile_picture.attached? %>
            <%= cl_image_tag event.user.profile_picture.key, class:"card-trip-user avatar-large" %>
          <% else %>
            <%= image_tag "https://st3.depositphotos.com/6672868/13701/v/380/depositphotos_137014128-stock-illustration-user-profile-icon.jpg", class:"card-trip-user avatar-large" %>
          <% end %>
            <p class="card-trip-pricing" style="width: 86px;  font-size: 15px;"><%= event.date %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>

