
<div class="d-flex align-items-center flex-column">
  <h2 class="event-title">Create an event</h2>
  <div class="event-form">
    <form>
    	<%= simple_form_for @event do |f| %>
        <%= f.input :title %>
        <%= f.input :category_id, collection: Category.all.map { |c| [ c.name, c.id ] }, include_blank: false %>
        <%= f.input :date %>
        <%= f.input :address, hint: "Enter the street and city" %>
        <%= f.input :description %>
        <%= f.input :pictures, as: :file, input_html: { multiple: true } %>
        <%= f.input :premium %>
        <%= f.submit "Create Event", class: "btn btn-flat" %>
      <% end %>
    </form>
  </div>

</div>
