<div class="banner pt-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path(@event.pictures.key) %>');"> 
    </div>
  </div>
</div>
<div class="container body-container">
  <div class="avatars-book-container">
    <div class="avatars-container">
      <% @event.bookings.each do |booking| %>
      <% if booking.user.profile_picture.attached? %>
            <%= cl_image_tag booking.user.profile_picture.key, class: "avatar mx-2" %>
          <% else %>
            <%= image_tag "https://st3.depositphotos.com/6672868/13701/v/380/depositphotos_137014128-stock-illustration-user-profile-icon.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
      <% end %>
    </div>
    <%= simple_form_for [@event, @booking] do |f| %>
      <%= f.submit "Join this event", class:"btn btn-flat" %>
    <% end %>
  </div>

  <div class="info-container">
    <div class="event-info w-50">
      <h1><%= @event.title %></h1>
      <h2><%= @event.category.name  %></h2>
      <p>Address: <%= @event.address %></p>
      <p>Date: <%= @event.date %></p>
      <h1>More about this event..</h1>
      <h2><%= @event.description %></h2>
    </div>
  </div>
</div>
