<div class="container">
  <% if @event.pictures.attached? %>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner banner-show">
      <% @event.pictures.each_with_index do |picture, index| %>
        <% if index == 0 %>
          <div class="carousel-item active">
            <div class="carousel-img" style="background-image: url('<%= cl_image_path picture.key%>')">
            </div>
          </div>
        <% else %>
          <div class="carousel-item">
            <div class="carousel-img" style="background-image: url('<%= cl_image_path picture.key%>')">
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  <% else %>
    <img src=<%= @event.category.picture %> class="carousel-img my-5 w-100"/> 
  <% end %>
</div>

<div class="container body-container">
  <div class="info-container">
      <div class="avatars-container">
        <p class="info-ps">Participants</p>
        <% @event.bookings.each do |booking| %>
          <% if booking.user.profile_picture.attached? %>
              <%= cl_image_tag booking.user.profile_picture.key, class: "avatar mx-2" %>
          <% else %>
              <%= image_tag "https://st3.depositphotos.com/6672868/13701/v/380/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" %>
          <% end %>
        <% end %>
      </div>
      <div class="text-container">
        <h1><%= @event.title %></h1>
        <h3 class="tag mb-2"><%= @event.category.name  %></h3>
          <div class="owner-avatar">
            <%= cl_image_tag @event.user.profile_picture.key, class: "avatar mx-2" %>
            <p class="info-ps mb-0">Hosted by <%= @event.user.full_name %></p>
          </div>
        <div class="description my-3">
          <h1>More about this event..</h1>
          <p><%= @event.description %></p>
        </div>
      <div class="chat" id="chat-id">
        <h1 class="mb-5">Chat of the event!</h1>
        <%= simple_form_for [ @event, @message ], class:"chat-form", remote: true do |f| %>
          <%= f.input :content, label: false, placeholder: "Send a message to the group!" %>
          <%= f.submit "Send", class:"btn btn-flat", id:"submit-chat" %>
        <% end %>
        <div id="messages" data-event-id="<%= @event.id %>">
          <% @event.messages.reverse.each do |message| %>
            <div class="message-container" id="message-<%= message.id %>">
              <div class="avatar mb-2">
                <% if message.user.profile_picture.attached? %>
                    <%= cl_image_tag message.user.profile_picture.key, class: "avatar mx-2" %>
                <% else %>
                    <%= image_tag "https://st3.depositphotos.com/6672868/13701/v/380/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" %>
                <% end %>
              </div>
              <div class="author">
                <div class="author-info">
                  <span><%= message.user.full_name %></span>
                  <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
                </div>
                <p class="pt-2"><%= message.content %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="second-element">
    <div id="map" class="show-map"
      data-markers="<%= @marker.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div class="join-container">
      <div class="d-flex my-2">
        <i class="fas fa-map-marker-alt mr-1 mt-1"></i>
        <a href="https://maps.google.com/?q=<%= @event.address %>" target="_blank" class="direction-style"><%= @event.address %></a>
      </div>
      <p class="mb-0"><i class="far fa-calendar-check"></i> <%= @event.date.strftime(" %A, %d %b %Y") %></p>
      <p><i class="far fa-clock"></i> <%= @event.date.strftime(" %l:%M %p") %></p>
      <%= simple_form_for [@event, @booking] do |f| %>
        <%= f.submit "Join this event", class:"btn btn-flat w-100" %>
      <% end %>
    </div>
  </div>
</div>
