<div class="banner pt-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://bit.ly/3AyI5ac);">
  <div class="container d-flex flex-column mb-5">
    <h1 class="mb-4"><strong>Connect with strangers, live new experiences</strong>!</h1>
    <h4 class="mb-4" style="font-family:Nunito";>The easiest way to organize events with strangers wherever you go.</h4>
    <%# <%= link_to "All events", events_path, class:"btn btn-success" %>
    <div class="container search-bar-div">
      <%= form_tag events_path, method: :get, class:"search-bar" do %>
          <%= text_field_tag :search, params[:query], class: "search-form", placeholder: "Search an event"%>
          <div class="divider"></div>
          <%= text_field_tag :address, params[:query], class: "location-form", id:"event_address", placeholder: "Location"%>
          <%= submit_tag "Search", class: "btn btn-ghost" %>
        <% end %>
    </div>
  </div>
</div>

<div class="container home-body-container">
<div class="container">
  <div class="trending-container">
    <div class="title-container">
      <h2>Our top treding events </h2>
      <h2>of these week!</h2>
      <p>It is a long established fact that a reader will be distracted by.</p>
    </div>
    <div class="carusel-container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner home-carousel-container">
        <% @sorted_events.each_with_index do |event, index| %>
          <% if index == 0 %>
            <div class="carousel-item active">
              <%= link_to event_path(event) do %>
                <div class="card-trip trending-card">
                <% if event.pictures.attached? %>
                  <%= cl_image_tag event.pictures[0].key %>
                <% else %>
                  <img src=<%=event.category.picture  %>/>
                <% end %>
                  <div class="card-trip-infos">
                    <h2><%= event.title %></h2>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <div class="carousel-item">
              <%= link_to event_path(event) do %>
                <div class="card-trip trending-card">
                <% if event.pictures.attached? %>
                  <%= cl_image_tag event.pictures[0].key %>
                <% else %>
                  <img src=<%=event.category.picture  %>/>
                <% end %>
                  <div class="card-trip-infos">
                      <h2><%= event.title %></h2>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div style="margin-top: 30px">
    <h2 class="text-left my-2" style="font-weight: bolder; color: #031d26;">Discover our categories</h2>
    <p class="text-left mb-3" style="color: #073b4c;">What about diving into these helpful ideas? Here are some inspiring options.</p>
    <div class="home-cards-container">
      <% @categories.each do |category|  %>
        <%= link_to events_path(category.name) do  %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= category.picture  %>)"> 
            <%= category.name %>
          </div>
        <% end  %>
      <% end %>
    </div>
  </div>
</div>
</div>


<div class="container">
  <h3 class="text-left mt-5">The craziest events around the world</h3>
  <p>Discover the greatest ideas that people like you can organize wherever you are and meet awesome people having fun.</p>
  <div class="crazy-container d-flex flex-column mt-1 mb-5">
    <div class="crazy-events" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://bit.ly/3reVAaU);">
      <div>
        <h3 class="mb-4">Rolling downhills chasing a cheese!</h3>
        <p class="mb-4" style="font-family:Nunito";>The Cooper's Hill Cheese-Rolling and Wake is an annual event held on the Spring Bank Holiday at Cooper's Hill, near Gloucester in England. Participants race down the 200-yard-long hill after a round of Double Gloucester cheese is sent rolling down it. Traditionally held by and for the people who live in the local village of Brockworth, but now people from all over the world take part.</p>
      </div>
      <button type="button" class= "btn btn-ghost">Read Me!</button>
    </div>
  </div>
</div>
