<div class="banner pt-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://bit.ly/3AyI5ac);">
  <div class="container d-flex flex-column mb-5">
    <h1 class="mb-4"><strong>Connect with strangers, live new experiences</strong>!</h1>
    <h4 class="mb-4" style="color:rgb(6, 219, 162); font-family:Nunito";>The easiest way to organize events with strangers wherever you go.</h4>
    <%# <%= link_to "All events", events_path, class:"btn btn-success" %>
    <div class="container search-bar-div">
      <%= form_tag events_path, method: :get, class:"search-bar" do %>
          <%= text_field_tag :search, params[:query], class: "search-form", placeholder: "Search an event"%>
          <div class="divider"></div>
          <%= text_field_tag :address, params[:query], class: "location-form", id:"event_address", placeholder: "Location"%>
          <%= submit_tag "Search", class: "btn btn-ghost" %>
        <% end %>
    </div>
  </div>
</div>


<div class="container">
  <h2 class="text-left my-2" style="font-weight: bolder; color: #052B38;">Discover our categories</h2>
  <p class="text-left mb-3" style="color: #073b4c;">What about diving into these helpful ideas? Here are some inspiring options.</p>
  <div class="home-container">
    <% @categories.each do |category|  %>
      <%= link_to events_path(category.name) do  %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= category.picture  %>)"> 
          <%= category.name %>
        </div>
      <% end  %>
    <% end %>
  </div>
</div>

<%# <div class="container">
  <div class="row">
    <div class="cards">
      

      <div class="card-category col-12 col-lg-12" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://bit.ly/3yufnFz)">
        Socialize
      </div>

      <div class="card-category col-12 col-lg-12" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://bit.ly/3wiS3Jn)">
        Outdoors
      </div>
    </div>
  </div>

  <div class="row">
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://bit.ly/2TKHPUO)">
        Cultural
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://bit.ly/3wjBgFZ)">
        Entrepreneur
      </div> %>

       <%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://bit.ly/3wgoFDL)">
        Travel
      </div>
    </div>
  </div>
</div> %>

